.custom-card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 0px !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

body {
  background: #fafafa;
}

.text-center {
  text-align: center;
}

.text-muted-primary {
  color: #8e908e;
}

.text-error {
  color: #f44336;
}

.text-success {
  color: #4caf50;
}

.no-text-decoration {
  text-decoration: none !important;
}
