.custom-card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 0px !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

body {
  background: #fafafa;
}

.text-center {
  text-align: center !important;
}

.text-muted-primary {
  color: #8e908e !important;
}

.text-error {
  color: #f44336;
}

.text-success {
  color: #4caf50;
}

.no-text-decoration {
  text-decoration: none !important;
}

.btn-primary {
  color: #ffffff !important;
  background: #0095f6 !important;
}

.text-primary {
  color: #0095f6 !important;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.PrivateTabIndicator-colorSecondary-24 {
  background-color: black !important;
}

.text-link {
  color: black !important;
}

div > ::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0) !important;
}

.image-post {
  height: 730px !important;
  width: 100% !important;
}

.Carousel-indicators-24 {
  display: none !important;
}

@media (min-width: 0px) {
  .makeStyles-card-261 {
    height: 1300px !important;
  }
}

@media (min-width: 1000px) {
  .makeStyles-card-261 {
    height: auto !important;
  }
}