.custom-card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 0px !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

body {
  background: #fafafa;
}

.text-center {
  text-align: center;
}

.text-muted-primary {
  color: #8e908e !important;
}

.text-error {
  color: #f44336;
}

.text-success {
  color: #4caf50;
}

.no-text-decoration {
  text-decoration: none !important;
}

.btn-primary {
  color: #ffffff !important;
  background: #0095f6 !important;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.PrivateTabIndicator-colorSecondary-24 {
  background-color: black !important;
}
